footer {
  position: absolute;
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 10px 20% 50px 20%;
  width: 100%;
  font-size: 80%;
  color: #ccc;
  box-shadow: -1px 0 10px rgb(27, 27, 27);
}
  
.author {
  float: right;
}

.reference a{
  color: #ccc;
}