header {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100%;
  min-height: 100px;
  box-shadow: 0 1px 10px rgb(27, 27, 27); 
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 0;
}

.header-functional {
  display: inline-block;
}

.anchors {
  display: inline-block;
  padding-left: 200px;
}

.anchors li {
  display: inline-block;
  padding-bottom: 12px;
  color: #ccc;
  text-transform: uppercase;
  font-size: 14px;
}

.anchors li a {
  color: #ccc;
}

.anchors li+li::before {
  content: "|";
  padding: 0 .6em 0 .4em;
  color: #999;
  font-size: 150%;
}