.biography, .biographyTable {
    width: 100%;
}

ul {
    list-style: none;
}

button {
    margin: 10px;
    padding: 10px;
}

.active {
    color: green;
}

.date {
    width: 30%;
    float: left;
}

.desc {
    width: 69%;
    float: right;
}

.date, .desc { 
    border: 1px solid black;
    padding: 0 auto;
    margin: 0;
    text-align: center;
}