html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
 caption,tfoot, thead,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 400 20px/1.5 "Source Sans Pro","Open Sans",Roboto,"San Francisco",Helvetica,Arial,sans-serif;
  color: #333;
}

header {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100%;
  min-height: 100px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 0;
}

.anchors li {
  display: inline-block;
  padding-bottom: 12px;
  color: #ccc;
  text-transform: uppercase;
  font-size: 14px;
}

.anchors li a {
  color: #ccc;
}

.anchors li+li::before {
  content: "|";
  padding: 0 .6em 0 .4em;
  color: #999;
  font-size: 150%;
}

header, footer {
  background: #333;
}

.description,
.workspace {
  box-sizing: border-box;
  margin: 20px auto;
  max-width: 60%;
}

.description {
  font-size: 100%;
}

footer {
  position: absolute;
  box-sizing: border-box;
  margin-bottom: 0;
  margin-top: 50px;
  padding: 10px 20% 50px 20%;
  width: 100%;
  font-size: 80%;
  color: #ccc;
}

.author {
  float: right;
}

strong {
  font-weight: bold;
}

h1 {
  color: white;
  font-size: 150%;
  padding-top: 30px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

h2 {
  font-size: 130%;
  margin-top: 20px;
  margin-bottom: 20px;
}

ol {
  margin-left: 60px;
}

.reference a{
  color: #ccc;
}

p {
  margin: 10px 0;
}